@font-face{
    src: url(fonts/Fipps-Regular.otf);
    font-family: Fipps;
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-image: url("dark.jpg");
}

h1 {
    font-family: 'Fipps', cursive;
    font-size: 65px;
    color: #7c5a43fd;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    font-family: 'Patua One', cursive;
}

canvas {
    border: 4px solid #bc0505;
    border-radius: 4px;
}

.mainCanvas {
    margin: auto;
}

.stats {
    margin: auto;
    border: 4px solid #bc0505;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 600px;

    background-color: gray;
}